//
// Forms
//


// Labels

.form-control-label {
  color: $gray-700;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}


// Text inputs

.form-control {
  font-size: $input-btn-font-size;

  &:focus {
    &::placeholder {
      color: $input-focus-placeholder-color;
    }
  }
}

.form-control-select {
  font-size: $input-btn-font-size;
}

// Textarea

textarea[resize="none"] {
  resize: none!important;
}

textarea[resize="both"] {
  resize: both!important;
}

textarea[resize="vertical"] {
  resize: vertical!important;
}

textarea[resize="horizontal"] {
  resize: horizontal!important;
}

.ck.ck-editor {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow .15s ease;
}

// Form input variations

// Muted input

.form-control-muted {
  background-color: $input-muted-bg;
  border-color: $input-muted-bg;
  box-shadow: none;

  &:focus {
    background-color: $input-focus-muted-bg;
  }
}


// Alternative input

.form-control-alternative {
  box-shadow: $input-alternative-box-shadow;
  border: 0;
  transition: box-shadow .15s ease;
  border-radius: 0.25rem;

  &:focus {
    box-shadow: $input-focus-alternative-box-shadow;
  }
}

// Size variations: Fixes to the bootstrap defaults

.form-control-lg {
  font-size: $font-size-base;
}

.form-controle-button {
  margin-top: 2.1rem;
}

.react-select__control {
  min-height: calc(2.75rem + 2px) !important;
  border: 0 !important;
}

.react-select__value-container--is-multi {
  flex-wrap: nowrap !important; 
}


.color-picker__color {
  position: absolute;
  width: 25pt;
  border: solid 1px #fcfcfd;
  display: inline-block;
  left: auto;
  right: 10px;
  top: 30%;
  bottom: 30%;  
  padding: 5px;
}

.color-picker__picker {
  position: absolute;
  margin: 5pt 0;
}

.filter-tags {
  cursor: pointer;
}
